@font-face {
    font-family: 'Artegra Sans Extended Alt';
    src: url('../fonts/ArtegraSansExAltELight.eot');
    src: url('../fonts/ArtegraSansExAltELight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ArtegraSansExAltELight.woff2') format('woff2'),
        url('../fonts/ArtegraSansExAltELight.woff') format('woff'),
        url('../fonts/ArtegraSansExAltELight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Artegra Sans Extended Alt';
    src: url('../fonts/ArtegraSansExAltMedium.eot');
    src: url('../fonts/ArtegraSansExAltMedium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ArtegraSansExAltMedium.woff2') format('woff2'),
        url('../fonts/ArtegraSansExAltMedium.woff') format('woff'),
        url('../fonts/ArtegraSansExAltMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Artegra Sans Extended Alt';
    src: url('../fonts/ArtegraSansExAltBlack.eot');
    src: url('../fonts/ArtegraSansExAltBlack.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ArtegraSansExAltBlack.woff2') format('woff2'),
        url('../fonts/ArtegraSansExAltBlack.woff') format('woff'),
        url('../fonts/ArtegraSansExAltBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Artegra Sans Extended Alt';
    src: url('../fonts/ArtegraSansExAltSBold.eot');
    src: url('../fonts/ArtegraSansExAltSBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ArtegraSansExAltSBold.woff2') format('woff2'),
        url('../fonts/ArtegraSansExAltSBold.woff') format('woff'),
        url('../fonts/ArtegraSansExAltSBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Artegra Sans Extended Alt';
    src: url('../fonts/ArtegraSansExAltBold.eot');
    src: url('../fonts/ArtegraSansExAltBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ArtegraSansExAltBold.woff2') format('woff2'),
        url('../fonts/ArtegraSansExAltBold.woff') format('woff'),
        url('../fonts/ArtegraSansExAltBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


            