@media (max-width: 1740px) {
    .wrapper {
        max-width: 1760px;
        padding: 0px 22px;
        margin: 0 auto;
    }
    .page-product__sett{
        padding: 0;
    }
    .banner {
        .swiper-pagination {
            bottom: 150px;
        }
    }
}
@media(max-width:1599.98px){
    .burger{
        &-table{
            width: 100%;
        }
    }
    .banner {
        .swiper-pagination {
            bottom: 220px;
        }
    }
}
@media (max-width: 1399.98px) {
    .burger-icon{
        margin-right: 10px;
    }
    .header__link {
        padding: 10px;
        font-size: calc(12px + (24 - 12) * ((100vw - 320px) / (1920 - 320)));
        margin-right: 0px;
        color: #202020;
    }
    .footer__clients {
        width: 410px;
    }
    .banner {
        &__title {
            max-width: 768px;
            margin-bottom: 80px;
        }
        .swiper-pagination {
            bottom: 200px;
        }
        .swiper-slide {
            padding-right: 60px;
        }
    }
    .page-basket__header{
        display: none;
    }
}
@media (max-width: 1199.98px) {
    
    .footer__clients {
        width: 410px;
    }
    .footer__content{
        padding: calc(67px + (162 - 67) * ((100vw - 320px) / (1920 - 320))) 0px 0px 0px;;
    }
    .footer__block{
        flex: 0 1 50%;
    }
    .footer__contacts {
        margin-right: 0px;
    }
    .header__nav-right{
        bottom: 0;
        margin: 0;
    }
    .page-product__button-box{
        display: block;
        text-align: center;
    }
    .page-product__button{
        margin-bottom: 10px;
    }
    .banner {
        &__title {
            max-width: 768px;
            margin-bottom: 80px;
        }
        .swiper-pagination {
            bottom: 200px;
        }
        .swiper-slide {
            padding-right: 10px;
        }
    }
}
@media (min-width: 992px) {
    .page-product__image_large{
        display: block !important;
        overflow-y: scroll;
        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;
        &::-webkit-scrollbar { 
            width: 0; 
        }
    }
    .select{
        display: none;
        position: absolute;
        top: calc(100% + 10px);
        left: 0;
        z-index: 3;
        background: $background3;
        box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15);
        border-radius: 24px;
        padding: 20px;
        &__header{
            display: none;
        }
        &__button{
            display: none;
        }
        width: 100%;
        .swiper-wrapper{
            display: block;
        }
        .swiper-slide{
            cursor: pointer;
            &:not(:last-child){
                margin-bottom: 10px;
            }
        }
        &__sub{
            margin-left: 20px;
        }
        &__bg{
            display: none !important;
        }
    }
}
@media (max-width: 991.98px){
    /* Планшет */
    .wrapper {
        max-width: 1744px;
        padding: 0px 14px;
        margin: 0 auto;
    }
    .header{
        z-index: 10;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
        background: white;
    }
    .header__links{
        display: none;
    }
    .header__nav-right{
        flex: 1 1 auto;
        .left{
            margin: 0px auto 0px 0px;
        }
    }
    .header__icon-box{
        box-shadow: none;
        font-size: 18px;
        color: $color2;
    }
    .products-slider__container{
        margin: 0px -2px;
    }
    .products-slider__product{
        margin: 0px 2px;
        min-width: calc(132px + (327 - 132) * ((100vw - 320px) / (1920 - 320)));
        max-width: calc(132px + (327 - 132) * ((100vw - 320px) / (1920 - 320)));
    }
    .trends__img{
        right: -40px;
        & img{
            opacity: 0.2;
        }
    }
    .trends::before{
        right: 0;
        width: 100%;
    }
    .products-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .page-product__content{
        padding: 0px 0px calc(90px + (280 - 90) * ((100vw - 320px) / (1920 - 320))) 0px;

    }
    .page-product__container{
        flex-wrap: wrap;
        justify-content: center;
    }
    .page-product__back{
        position: absolute;
        top: 16px;
        left: 9px;
        z-index: 9;
    }
    .page-product__back p{
        display: none;
    }
    .page-product__images_small{
        display: none;
    }
    .page-product__image_large{
        flex: 1 1 823px;
        width: 100%;
        margin: 0px -14px 15px -14px;
        text-align: center;
        &-img{
            width: max-content;
            padding-bottom: 0;
            margin: 0 auto;
            
            img{
                width: unset;
            }
        }
    }
    .page-product__sett{
        text-align: center;
    }
    .icon-footer-facebook_border{
        border: none;
        padding: 0;
    }
    .page-product__button-box{
        padding: 14px;
        position: fixed;
        bottom: 0;
        left: 0;
        margin: 0;
        width: 100%;
        background: $white;
        border-top: 1px solid $black;
        z-index: 10;
    }
    .page-product__button{
        margin: 0;
    }
    .page-product .icon-heart-link{
        border: none;
        padding: 0;
        width: unset;
        height: unset;
        position: absolute;
        right: 0px;
        z-index: 9;
        top: calc((385px + (1030 - 385) * ((100vw - 320px) / (1920 - 320))) - 45px);
        .icon{
            color: $white;
            &.active{
                color: #FF5252;
                text-shadow: 0px 0px 20px #ff5252;
            }
        }
    }
    .page-basket__promo-title{
        display: block;
        text-align: center;
    }
    .page-basket__container{
        overflow-y: scroll;
        flex-direction: column;
        position: absolute;
        background: $white;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        padding: calc(106px + (240 - 106) * ((100vw - 320px) / (1920 - 320))) 20px 20px 20px;
        display: none;
    }
    .form-order{
        padding: 20px;
    }
    .right-bar{
        width: 100%;
        position: static;
    }
    .header{
        z-index: 20;
    }
    .right-bar__link{
        display: none;
    }
    .right-bar__link-login{
        display: inline-block;
        position: absolute;
        top: calc(76px + (230 - 76) * ((100vw - 320px) / (1920 - 320)));
        right: 20px;
    }
    .page-basket-back{
        display: inline-block;
        position: absolute;
        top: calc(78px + (232 - 78) * ((100vw - 320px) / (1920 - 320)));
        left: 20px;
    }
    .right-bar__total{
        justify-content: center;
        & p{
            margin-right: 10px;
        }
    }
    .right-bar__button-box{
        margin-bottom: unset;
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 14px;
        width: 100%;
        background: #fff;
        border-top: 1px solid #000;
        z-index: 10;
    }
    .burger{
        &-table__item{
            margin-bottom: 30px;
        }
        &-search__input{
            flex: unset;
            width: calc(100% - 26px);
        }
        .icon{
            margin-right: 2px;
        }
    }
    .slider{
        padding-top: calc(210px + (200 - 210) * ((100vw - 320px) / (1920 - 320)));
        &__background{
            top: calc(0px + (-161 - 0) * ((100vw - 320px) / (991 - 320)));
        }
    }
    .banner{
        &__title{
            max-width: 500px;
        }
        .swiper-pagination{
            bottom: 100px;
        }
        .swiper-pagination-bullet {
            &:not(:first-child) {
                margin-left: 25px;
            }
        }
    }
    .products-slider__img{
        width: calc(132px + (327 - 132) * ((100vw - 320px) / (1920 - 320)));
    }
    .page-main .products-slider__button{
        display: none;
    }
    .swiper-container{
        margin: 0px -14px 0px 0px;
    }
    .basket-item{
        border-top: 1px solid $color1;
        margin-bottom: unset;
        transition: all .5s;
        &.open{
            margin-left: calc(0px - ((320px + (991 - 320) * ((100vw - 320px) / (991 - 320))) - 40px));
        }
    }
    .page-basket__list{
        margin: 0px -14px;
    }
    .basket-item__wrapper-show{
        width: calc((320px + (991 - 320) * ((100vw - 320px) / (991 - 320))) - 40px);
    }
    .basket-item__container{
        height: 100%;
        align-items: start;
        padding: 12px 0px 30px 0px;
        height: 100%;
        flex-direction: column;
    }
    .basket-item__num{
        display: none;
    }
    .basket-item__color{
        width: 17px;
        height: 7px;
        margin: 0px 12px 0px 0px;
    }
    .basket-item__size_small, .basket-item__amount_small, .basket-item__price_small{
        display: block;
    }
    .basket-item__button{
        display: flex;
        padding:0 10px;
    }

    .basket-item__wrapper-hide{
        background: $background3;
        margin: unset;
        padding: 0px 40px 0px 20px;
        height: 100%;
        width: calc((320px + (991 - 320) * ((100vw - 320px) / (991 - 320))) - 40px);
    }
    .basket-item__info{
        margin: 5px 0px;
    }
    .basket-item__size-header{
        width: unset;
    }
    .basket-item__size-body{
        width: 100%;
    }
    .basket-item__size-box{
        width: 40%;
    }
    .basket-item__amount{
        width: 25%;
        margin: 0px auto 0px 15px;
    }
    .page-product__slider{
        position: relative;
        display: flex;
        width: calc(100% + 28px);
        .pagination-block{
            position: absolute;
            bottom: 22px;
            left: 0;
            right: 0;
            z-index: 2;
            width: 100%;
            display: flex;
            align-items: center;
        }
        .swiper-pagination {
            display: flex;
            margin: 0 auto;
        }
        .swiper-pagination-bullet {
            width: calc(7px + (15 - 7) * ((100vw - 320px) / (991 - 320)));
            height: calc(7px + (15 - 7) * ((100vw - 320px) / (991 - 320)));
            background: transparent;
            border: .6px solid rgba($white , .5);
            border-radius: 50%;
            &:not(:first-child) {
                // 59 4
                margin-left: calc(4px + (30 - 4) * ((100vw - 320px) / (991 - 320)));
            }
            &-active {
                background: $iconColor1;
                border: .6px solid rgba($white , 1);
            }
        }
    }
    .page-product__image_large{
        // 293
        // width: 320px;
        height: calc(385px + (440 - 385) * ((100vw - 320px) / (991 - 320)));
        &-img{
            img{
                width: calc(320px + (366 - 320) * ((100vw - 320px) / (991 - 320)));
            }
            &:first-child{
                margin-left: 14px;
            }
        }
    }
    .page-basket{
        .btn-mobile{
            display: block;
        }
    }
    // .page-product{
    //     &__size-body{
    //         padding: 0;
    //         position: fixed;
    //         top: unset;
    //         bottom: 0;
    //         left: 0;
    //         z-index: 9999;
    //         width: 100%;
    //         background: $white;
    //         border-radius: unset;
    //     }
    // }
    .select{
        // width: 100%;
        // padding: 14px;
        // border-radius: 7px 7px 0 0;
        // background: $white;
        // &-mobile__bg{
        //     display: block;
        // }
        // .select-mobile__header{
        //     display: flex;
        // }
        // &-mobile__buttons{
        //     display: block;
        // }
        // &-mobile__btn{
        //     &.d-none{
        //         display: none;
        //     }
        // }
        // &-mobile__item{
        //     height: 48px;
        //     display: flex;
        //     align-items: center;
        //     padding-left: 50%;
        //     .page-product__size-link{
        //         display: flex;
        //         justify-content: space-between;
        //         width: 100%;

        //     }
        // }
        // &-mobile__body{
        //     position: relative;
        //     height: 240px;
        //     padding: 96px 0 76px;
        //     margin: 20px 0 40px;
        //     overflow-x: scroll;
        //     -ms-overflow-style: none;
        //     overflow: -moz-scrollbars-none;
        //     &::-webkit-scrollbar { 
        //         width: 0; 
        //     }
        // }
        // &-mobile__window{
        //     position: relative;
        //     &::after{
        //         content: '';
        //         position: absolute;
        //         top: 96px;
        //         left: 0;
        //         width: 100%;
        //         height: 1px;
        //         background: $color2;
        //     }
        //     &::before{
        //         content: '';
        //         position: absolute;
        //         bottom: 179px;
        //         left: 0;
        //         width: 100%;
        //         height: 1px;
        //         background: $color2;
        //     }
        // }
    }
    .select{
        // display: none;
        position: fixed;
        bottom: -500px;
        left: 0;
        z-index: 99999;
        width: 100%;
        background: white;
        padding: 14px;
        border-radius: 7px 7px 0 0;
        transition: all .7s;
        &.open{
            bottom: 0;
        }
        &__sub{
            margin: 0 auto;
        }
        .swiper-slide{
            height: 48px;
            display: flex;
            align-items: center;
            padding-left: 50%;
        }
        .size__mobile-container{
            height: 50px;
            border-top: 1px solid;
            border-bottom: 1px solid;

        }
        &__window{
            padding-top: 96px;    
            height: 240px;
            overflow: hidden;
            margin-bottom: 40px;
            margin-top: 20px;
        }
        &__bg{
            display: none;
            width: 100%;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 9999;
            background: $color1;
            opacity: .65;
        }
        &__btn{
            width: 100%;
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $color1;
            color: $white;
            border-radius: 47px;
        }
        &__header{
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .icon{
                width: 24px;
                height: 24px;
                font-size: 10px;
                color: $color2;
                background: $background3;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
        }
    }
    .footer{
        padding-bottom: 76px;
    }
}
@media (max-width: 767.98px) {
    section{
        &.login-open{
            display: block;
        }
    }
    .footer__block{
        flex: 0 1 100%;
        margin: 0px 0px 40px 0px;
    }
    .footer__clients {
        margin: 0px 0px 62px 0px;
    }
    .footer__contacts {
        margin: 0px 0px 95px 0px;
    }
    .footer__link {
        line-height: 157%;
    }
    .page-main__button{
        width: 45px;
        height: 45px;
        & span{
            font-size: 8px;
        }
    }
    .products-slider__header{
        margin-bottom: 15px;
    }
    
    .page-favorites .products-slider__button{
        top: 5px;
        background: unset;
        width: 13px;
        height: 15px;
        border-radius: 50%;
        &_next{
            right: 15px;
        }
        &_prev{
            left: unset;
            right: 27px;

        }
        & span{
            font-size: 13px;
            color: $color1;
        }
    }
    .page-login{
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 999999;
        background: rgba(#C4C4C4, .65);
        width: 100%;
        height: 100vh;
        .close{
            display: flex;
        }
        &__content{
            padding: 0;
            width: 100%;
            background: $white;
            border-radius: 7px 7px 0 0;
        }
        .wrapper{
            width: 100%;
            height: 100%;
            max-width: 100%;
            padding: 0;
            display: flex;
            align-items: flex-end;
        }

    }
    .login__form{
        padding: 25px 14px;
    }
    .page-reg{
        top: unset !important;
        bottom: 0px;
        &.modify{
            .wrapper{
                width: 100%;
                height: 100%;
                padding: 0;
                display: flex;
                align-items: flex-end;
            }
        }
        &__content{
            width: 100%;
            position: relative;
            background: $white;
            border-radius: 7px 7px 0 0;
        }
        .reg__form{
            position: unset;
        }   
    }
    .banner{
        &__title{
            display: none;
        }
        &__btn{
            margin-top: 345px;
            margin-top: 465px;
            margin-top: calc(345px + (465 - 345) * ((100vw - 320px) / (767 - 320)));
            margin-bottom: 40px;
        }
        &__btn-desct{
            display: none;
        }
        &__btn-mobile{
            display: block;
        }
        .swiper-slide{
            img{
                max-width: 100%;
                object-fit: cover;
                max-height: 100%;
                height: 100%;
            }
        }
        .swiper-pagination{
            display: block;
            bottom: calc( 100% / 2 - 53px);
        }
        .swiper-pagination-bullet{
            display: block;
            width: 7px;
            height: 7px;
            border: 1px solid $color2;
            &:not(:first-child){
                margin-left: 0;
                margin-top: 18px;
            }
        }
    }
    .burger{
        overflow: auto;
        &-table{
            flex-wrap: wrap;
        }
        &-table__list{
            &:nth-child(1){
                width: 50%;
            }
            &:nth-child(2){
                order: 2;
                width: 100%;
            }
            &:nth-child(3){
                order: 3;
                width: 100%;
            }
            &:nth-child(4){
                width: 50%;
            }
        }
        &-table__item-lang{
            display: none;
        }
    }
}
@media (max-width: 575.98px) {
    .trends__button{
        align-self: flex-end;
    }
    .page-catalog__content{
        display: block;
    }
    .products-grid__img{
        margin-bottom: 10px;
    }
    .sidebar__item a{
        margin: 2px 5px 2px 0px;
        padding: 6px 7px;
        border: 1px solid $color2;
        border-radius: 90.1961px;
    }
    .sidebar ul{
        display: flex;
        margin-bottom: 20px;
        overflow-x: scroll;
        overflow-y: visible;
    }
    .sidebar ul li{
        flex: 1 0 auto;
        padding: 8px 0px;
    }
    .products-grid{
        margin: 0px -14px calc(70px + (95 - 70) * ((100vw - 320px) / (1920 - 320))) -14px;
    }
    .products-grid__dscr{
        justify-content: flex-start;
        display: block;
        
    }
    .products-grid__dscr a{
        display: block;
        margin: 0px 0px 0px 7px;
    }
    .page-login__content{
        align-items: flex-end;
    }
    .input{
        margin-bottom: 18px;
    }
    .login {
		&__form {
            border-radius: 7px 7px 0px 0px;
            font-size: 14px;
            line-height: 20px;
		}

		&__title {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 30px;
		}
        &__input-pass {
            margin-bottom: unset;
		}

		&__restore {
            margin: 26px 0px;
		}

		&__button {
            font-size: 14px;
            margin-bottom: 12.5px;
		}
    }
    .reg__container {
        max-width: 300px;
    }
    .header{
        &__icon-box {
            width: 30px;
            height: 20px;
        }
        &.open{
            background: white;
            .header__icon-bg{
                display: none;
            }
        }
    }
    .burger{
        padding-bottom: 80px;
        background: white;
        &-table__item{
            margin-bottom: 10px;
        }
        &-table__list{
            &:last-child{
                position: fixed;
                bottom: 0;
                left: 0;
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding: 0 18px;
                background: #fff;
                z-index: 2;
                .burger-table__item{
                    width: unset;
                }
            }
        }
        &__button {
            display: flex;
            justify-content: space-between;
            position: fixed;
            bottom: 50px;
            padding: 0px 15px;
            background: #fff;
        }
        
    }
    .header__nav-right{
        flex: unset;
        width: 100%;
        padding-left: 20px;
        .burger-search{
            width: 100%;
            display: none;
            margin-bottom: 0;
            padding-bottom: 5px;
            margin-left: 10px;
            .icon{
                color: #D2D6D7;
            }
            &::after{
                background: #D2D6D7;
            }
        }
        &.open{
            .header__icon-box{
                display: none;
            }
            .burger-search{
                display: flex;
            }
            .burger-search__input{
                order: 2;
            }
        }
    }
    .burger {
        .exit {
            display: none;
    
        }
    }
    .page-basket__pormo-box .input, .page-basket__promo-button{
        font-size: 12px;
    }
    .form-order__input-box, 
    .form-order__radio, 
    .form-order__textarea-box{
        flex-direction: column;
    }
    .form-order__input-box-adress, 
    .form-order__input-title, 
    .form-order__textarea-input, 
    .form-order__input, 
    .form-order__radio-title, 
    .form-order__radio-container, 
    .form-order__textarea-title{
        width: 100%;
    }
    .form-order__input-title, 
    .form-order__radio-title, 
    .form-order__textarea-title{
        margin-bottom: 10px;
    }
    .form-order{
        margin-right: unset;
        padding: 0;
    }
    .basket-item__wrapper-hide {
        padding: 0px 10px;
    }
    .basket-item__name{
        width: 180px;
    }
    .amount-plus,
    .amount-minus{
        .icon{
            font-size: 15px;
        }
    }
}