.sale-order-title,
.sale-order-link,
.sale-order-history-link,
.sale-order-list-title,
.sale-order-list-accomplished-title,
.sale-order-list-inner-title-line-item,
.sale-order-list-payment-title,
.sale-order-list-shipment-title,
.sale-order-list-status-restricted,
.sale-order-list-status-alert,
.sale-order-list-status-success,
.sale-order-list-payment-check,
.sale-order-list-payment-price,
.sale-order-list-change-payment,
.sale-order-list-shipment,
.sale-order-list-shipment-status-block,
.sale-order-list-about-link,
.sale-order-list-shipment-button,
.sale-order-list-repeat-link,
.sale-order-list-cancel-link,
.sale-order-list-about-link,
.sale-order-list-change-payment {
   font: unset;
}
.sale-order-link,
.sale-order-history-link {
   font-size: 14px;
}

.sale-order-history-link {
   font-size: 20px;
}
.sale-order-list-title,
.sale-order-list-accomplished-title {
   font-size: 15px;
   font-weight: 600;
   color: #202020;
}
.sale-order-list-title-container {
   background: #f1f1f1;
}
.sale-order-list-inner-title-line-item {
   font-size: 10px;
   font-weight: 600;
   color: #858586;
}
.sale-order-list-inner-title-line-border {
   background: #f1f1f1;
}
.sale-order-list-payment-title,
.sale-order-list-shipment-title {
   font-size: 14px;
   font-weight: 600;
   color: #202020;
}
.sale-order-list-status-restricted,
.sale-order-list-status-alert,
.sale-order-list-status-success {
   font-size: 12px;
   font-weight: 600;
   color: #ff5252;
   background: rgba(255, 82, 82, 0.1);
   border: 1px solid rgba(255, 82, 82, 0.4);
}
.sale-order-list-payment-check,
.sale-order-list-payment-price,
.sale-order-list-change-payment {
   font-size: 13px;
}
.sale-order-list-shipment {
   font-size: 13px;
}
.sale-order-list-shipment-status-block {
   font-size: 13px;
   font-weight: 600;
   background: #f1f1f1;
   color: #858586;
   border: 1px solid #858586;
}
.sale-order-list-top-border {
   background: #f1f1f1;
}
.sale-order-list-about-link {
   font-size: 14px;
   font-weight: 600;
}
.sale-order-list-shipment-button,
.sale-order-list-repeat-link,
.sale-order-list-cancel-link,
.sale-order-list-about-link,
.sale-order-list-change-payment {
   font-size: 13px;
   color: #202020;
   line-height: 1.6;
}
.sale-order-list-cancel-link {
   color: #858586;
}
.sale-order-list-inner-container {
   border: 1px solid #f1f1f1;
}
.sale-order-list-status-success {
   color: #87c73d;
   background: rgba(135, 199, 61, 0.2);
   border: 1px solid rgba(135, 199, 61, 0.4);
}
// Вставить иконку потому, что предыдущая была синей и цвет невозможно было поменять
.sale-order-list-repeat-link:before {
   margin: 0 3px -1px 0;
   background: url(****) 0 0 / contain no-repeat;
}
// Обернуть в контейнер
.page-my-offers {
   padding: calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320))) 0px
      calc(50px + (100 - 50) * ((100vw - 320px) / (1920 - 320))) 0px;
}
