$icomoon-font-family: "icon" !default;
$icomoon-font-path: "fonts" !default;

$icon-facebook: "\e90e";
$icon-filtre: "\e903";
$icon-heart: "\e907";
$icon-instagram: "\e908";
$icon-triangle-left: "\e909";
$icon-triangle-right: "\e90a";
$icon-burger: "\e90b";
$icon-close: "\e90c";
$icon-triangle-down: "\e90d";
$icon-lang: "\e900";
$icon-search: "\e901";
$icon-telegram: "\e902";
$icon-whatsapp: "\e904";
$icon-exit: "\e905";
$icon-bag: "\e906";
$icon-dust: "\e90f";
$icon-plus: "\e910";
$icon-minus: "\e911";
$icon-three-band: "\e912";
$icon-user: "\e913";

